.card {
    width: 14rem;  
}
.card-structure{
    height:380px;
    width: 18rem;
}
.image {
    height: 124px;
    width: 200px;
    margin: 18px 20px;

}
.wishlist-icon{
   top: -12px;
   left: 232px;
   
   
}

.content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price{
    margin-left: 16px;
}
.checked {
    color: rgb(213, 213, 40);
}